<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project</title>
</head>
<body>
  
  <div class="header"><h3>Blood Bank Management System</h3><br><br></div>
  <div class="Content">
  Name: <input style="margin-left: 43px;" type="text" placeholder="">
  <br><br><br>
  BloodGroup:<input style="margin-left: 5px;" type="text" placeholder="">
  <br><br><br>
  Contact No:<input style="margin-left: 10px;" type="Number" placeholder="">
  <br><br><br>
  Address: <input style="margin-left:25px;"  type="text" placeholder="">
  <br><br><br>
  
  <div class="btn" >
  <button type="click">Insert</button>
  <button type="click">Delete</button>
  <button type="click">Save</button>
  <button type="click">Search</button>
  <button type="click">Modify</button>
</div>
</div>
<div class="box">
  <ul class="list">
    <h3>Total Blood Group List</h3>
    <li>Name - Bloodgroup - 123456 - 13/2,Bharathithasan</li>

    <li>Vijay   - B Positive    - 123098    - xxxx</li>
    <li>Yuva    - O Positive    - 134676    - yyyyy</li>
    <li>prakash - AB Negative   - 1247965   - xxyyxyx </li>
  </ul>
</div> 
</body>
</html>