<div class="container">
  <div class="card" id="head">
    Blood Bank Management System
  </div>
  <div class="card" id="content2">
  <div class="card-body">
    <form #employeeForm="ngForm">
      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" required [(ngModel)]="employee.Name" name="Name">
      </div>
      <div class="form-group">
        <label for="Blood Group">Blood Group</label>
        <input type="text" class="form-control" id="Blood Group" required [(ngModel)]="employee.BloodGroup" name="BloodGroup">
      </div>
      <div class="form-group">
        <label for="Contact No">Contact No</label>
        <input type="number" class="form-control" id="Contact No" required [(ngModel)]="employee.ContactNo" name="ContactNo">
      </div>
      <button type="button" class="btn btn-primary" (click)="saveDonor()">Save</button>
      <button type="button" class="btn btn-warning" (click)="updateDonor()">Update</button>
      <button type="button" class="btn btn-danger" (click)="deleteDonor()">Delete</button>
    </form>
    <p *ngIf="message">{{ message }}</p>
  </div>
</div>
<div class="card mt-3" id="content3">
  <div class="card-header">
    Total Blood Group List
  </div>
  <ul class="list-group list-group-flush">
    <label>&nbsp;&nbsp;&nbsp;Name &nbsp;-&nbsp;&nbsp;Blood group- Contact info</label><br>
    <li class="list-group-item" *ngFor="let Dnr of Donors">
      {{ Dnr.Name }} - {{ Dnr.BloodGroup }} - {{ Dnr.ContactNo }}
    </li>
  </ul>
</div>
</div>
