.container {
    margin: 17px;
  }
  
  .card {
    border: 1px solid #fdfcfc;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(121, 119, 119, 0.1);
    
  }
  
  .card-header {
    background-color: #7cb5ca;
    border-bottom: 1px solid #a7cef3;
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px;
  }
  
  .card-body {
    padding: 25px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    border: 1px solid #e4e5e7;
    border-radius: 4px;
    padding: 10px;
    width: 90%;
  }
  
  .btn {
    margin-right: 15px;
    color: white;
    background-color: rgb(24, 162, 225);
  }
  
  .mt-3 {
    margin-top: 1rem;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  p {
    color: rgb(38, 121, 193);
    font-weight: bold;
    margin-top: 10px;
  }
  
  #head{
    height: 50px;
    justify-content: center;
    font-size: 25px;
    color: rgb(129, 185, 209);
    border:rgb(22, 22, 2);
    border: 1px solid #2b1c1c;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(246, 165, 4, 0.1);
    font-weight: bold;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #content2{
    width: 800px;
    margin-top: 10px;
  }
  
  
  #content3{
    width: 420px;
    position:absolute;
    left:64.9%;
    top:15.6%;
  }
  