<h1>Structural and Attractive Directivies Example</h1>
<br>
<button (click) ="changeflag()"> change   </button>

<div *ngIf="flag" [ndStyle]="myStyle">
    <br>
    <ul>
        <li *ngFor="let vec of vehicles" (click)="setSelectedItem(vec)">{{vec}}</li>
    </ul>
    <br>
    <b>You have selected:{{selectedVehicles}}</b>
    <br>
    <div [ngSwitch]="selectVehicle">
        <font color="green" *ngSwitchCase="'Twowheeler'">Bike</font>
        <font color="green" *ngSwitchCase="'Twowheeler'">Auto</font>
        <font color="green" *ngSwitchCase="'Twowheeler'">Car</font>
        <font color="green" *ngSwitchCase>invalid</font>

    </div>
</div>
<br>
<button (click)>"changeStyle()">Change Style</button>
